@import "tailwindcss";

/* ===================================================================== */
/* COLORS */
/* ===================================================================== */
@theme {
  /* NEUTRALS */
  /* --------------------- */
  --color-white: #f9fafb;
  --color-off-white: #f5f7fa;
  /* Transparent Whites */
  --color-white-t1: rgb(249 250 251 / 0.75);
  --color-white-t2: rgb(249 250 251 / 0.5);
  --color-white-t3: rgb(249 250 251 / 0.3);
  --color-white-t4: rgb(249 250 251 / 0.15);

  --color-black: #0e0f12;
  --color-off-black: #1e293b;

  /* MAIN COLORS */
  /* --------------------- */
  /* Main Blues */
  --color-blue: #4ea3e3;
  --color-blue-1: #2563eb;
  --color-blue-2: #1d4ed8;
  --color-dark-blue: #162e5c;

  /* Accents */
  --color-green: #34d399;
}

/* --------------------- */
/* "Special" Colors */
/* --------------------- */
/* Predefined gradients, window colors, overlays, etc. */
@layer components {
  .clear-window-color {
    @apply border border-white-t3 bg-white-t4 text-white;
  }
  .main-blue-gradient {
    @apply bg-linear-to-r from-blue via-blue-1 to-blue-2 text-white;
  }
  .hero-blue-gradient {
    @apply bg-linear-to-r from-blue-2/60 via-blue-1/60 to-blue/40;
  }
  .dark-blue-gradient {
    @apply bg-linear-to-b from-dark-blue via-off-black to-[#0f172a];
  }
  .green-gradient {
    @apply bg-linear-to-r from-green to-[#059669];
  }
  .black-gradient {
    @apply bg-linear-to-r from-off-black to-[#0F172A];
  }
}

/* ===================================================================== */
/* HEADERS */
/* ===================================================================== */
@layer components {
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-4xl;
  }
  h3 {
    @apply text-lg md:text-2xl font-light;
  }
  .subtitle {
    @apply text-sm font-light;
  }
}
/* ===================================================================== */
/* ELEMENTS */
/* ===================================================================== */
@layer components {
  /* --------------------- */
  /* Buttons */
  /* --------------------- */
  /* Default link/button styling */
  a {
    @apply rounded-full font-medium flex justify-center items-center p-4;
  }
  button {
    @apply rounded-full font-medium flex justify-center items-center px-5 py-2 md:px-6 md:py-3;
  }
  .small-button {
    @apply text-sm font-normal;
  }
  /* Hovers */
  .bright-hover {
    @apply hover:brightness-120 transition;
  }
  .clear-hover {
    @apply hover:bg-white-t2 transition;
  }
  .accent-hover-text {
    @apply hover:text-blue transition;
  }
}

/* --------------------- */
/* WINDOWS */
/* --------------------- */
/* Widgets, cards, popups */
/* DO NOT DEFINE COLORS: Add a defined color from the colors section in the HTML element */
@layer components {
  .square-rounded-box {
    @apply rounded-lg p-4 flex items-center;
  }
}
