@import "tailwindcss";

/* ===================================================================== */
/* COLORS */
/* ===================================================================== */
/* Naming Convention Notes */
/* '*' = required */

/* --color-{*main color family}-{specific color family}{*type}{order number}: {color} */
/* eg. --color-blue-dg2: #1e293b; */
/* main color family: blue */
/* specific color family: d = dark */
/* type: g = gradient */
/* order number: 2 */
/* color: #1e293b */

/* types */
/* g = gradient */
/* b = border */
/* f = fill */

@theme {
  /* Neutrals */
  --color-white: #f9fafb;
  --color-black: #0e0f12;

  /* Main Blues */
  --color-dark-blue: #162e5c;

  /* Hero Gradient*/
  --color-blue-hg1: #1d4ed8;
  --color-blue-hg2: #2563eb;
  --color-blue-hg3: #4ea3e3;
  /* Dark Blue Gradient */
  --color-blue-dg1: var(--color-dark-blue);
  --color-blue-dg2: #1e293b;
  --color-blue-dg3: #0f172a;
  /* Main Blue Gradient */
  --color-blue-g1: #4ea3e3;
  --color-blue-g2: #2563eb;
  --color-blue-g3: #1d4ed8;
}
/* --------------------- */
/* "Special" Colors */
/* --------------------- */
/* Predefined gradients, window colors, overlays, etc. */
@layer components {
  .clear-window-color {
    @apply border border-white/20 bg-white/15;
  }
  .main-blue-gradient {
    @apply bg-linear-to-r from-blue-g1 via-blue-g2 to-blue-g3 text-white;
  }
  .hero-blue-gradient {
    @apply bg-linear-to-r from-blue-hg1/80 via-blue-hg2/60 to-blue-hg3/40;
  }
}

/* ===================================================================== */
/* HEADERS */
/* ===================================================================== */
@layer components {
  .title {
    @apply text-2xl md:text-4xl;
  }
}

/* ===================================================================== */
/* ELEMENTS */
/* ===================================================================== */
/* --------------------- */
/* buttons */
/* --------------------- */
@layer components {
  button {
    @apply rounded-full font-medium flex justify-center items-center  px-4 py-1 md:px-6 md:py-3;
  }

  .bright-hover {
    @apply hover:brightness-110;
  }
  .clear-hover {
    @apply hover:bg-white/30;
  }
}
